.button-customize{
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 14px;
    color:  white;
    border: none;
    cursor: pointer;
    font-family: "Red Hat Display", serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}


.button-customize:hover {
    opacity: 0.7;
}

.button-customize:disabled {    
    cursor: default;    
    opacity: 1;
}

